@import url(https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

.liste-custom::before{
    content:"";
   display:inline-block;
   width: 20px;
   height: 20px;
   background:url(../dist/assets/imgs/svg/zetruc-cote.svg) no-repeat;
   background-size: 50%;
}

.zt-selected{
    background-color: #E02B88;
    color: white;
}

.zt-step{
    opacity: 0.2;
    transform: translateX(50px);
    filter: saturate(0)
}